<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>ListProduct</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form #listProduct="ngForm">
    <ion-list>
      <ion-item *ngFor="let super of productList | groupBy:'supermarket.name' ">
        <h1>{{super.key}}</h1>
        <product-item-view *ngFor="let item of super.value" [product]="item" (productDelete)="deleteProduct($event)"></product-item-view>
      </ion-item>
    </ion-list>
  </form>
</ion-content>