<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>ListProduct</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form #listProduct="ngForm">
    <ion-list>
        <!-- <h1>{{super.key}}</h1> -->
        <!-- <product-item-view *ngFor="let item of super.value" [product]="item" (productDelete)="deleteProduct($event)"></product-item-view> -->
        <product-item-view [product]="item" (productDelete)="deleteProduct($event)" *ngFor="let item of productList | async"></product-item-view>
    </ion-list>
  </form>
</ion-content>