<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>ListProduct gola</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="outer-content">
  <ion-list>
    <ion-item>
      <ion-label>Agrupar por {{agrupacionSeleccion?'producto':'supermercado'}}</ion-label>
      <ion-toggle [(ngModel)]="agrupacionSeleccion" (ionChange)="changeToggle()"></ion-toggle>
    </ion-item>
  </ion-list>
  <br/>
  <!-- <ng-container *ngIf="agrupacionSeleccion">
    <ion-list *ngFor="let product of productList | async">
      <ion-list-header color="primary">
        {{product.name}}{{GetSupermarketByProduct(product.$key)}}
      </ion-list-header>
      <div *ngFor="let supermarket of supermarkekListProduct[product.$key] | async">
        <product-item-view [product]="product" [supermarket]="supermarket" (productDelete)="deleteProduct($event)">
        </product-item-view>
      </div>
    </ion-list>
  </ng-container> -->
  <ng-container *ngIf="!agrupacionSeleccion">
    <ion-list *ngFor="let item of supermarketList">
      <ion-list-header color="primary">
        {{item.name}}
      </ion-list-header>
      <product-item-view [product]="product" [supermarketKey]="item.$key" *ngFor="let product of supermarketProductList[item.$key]">
      </product-item-view>
    </ion-list>
  </ng-container>

  <ion-infinite-scroll  (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>