<ion-header>

  <ion-navbar>
    <ion-title>EditProduct</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form #productEdit="ngForm">
    <ion-list>
      <ion-item *ngIf="!custom">
        <ion-label floating>Id</ion-label>
        <ion-input type="text" required [(ngModel)]="edit.id" name="id"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input type="text" required [(ngModel)]="edit.name" name="name"></ion-input>
      </ion-item>
      <ion-item *ngIf="!custom">
        <ion-label floating>Brand</ion-label>
        <ion-input type="text" [(ngModel)]="edit.brand" name="brand"></ion-input>
      </ion-item>
      <ion-item-group *ngFor="let supermarket of edit.supermarkets">
        <ion-item-divider color="light">{{supermarket}}</ion-item-divider>
        <ion-item>
          <ion-label floating>Price</ion-label>
          <ion-input type="number" required [ngModel]="edit.supermarkets[supermarket]" (ngModelChange)="edit.supermarkets[supermarket] = convertToNumber($event)" name="price"></ion-input>
        </ion-item>
      </ion-item-group>

    </ion-list>

    <div padding>
      <button ion-button color="primary" [disabled]="!productEdit.form.valid" block (click)="guardar()">Guardar</button>
    </div>
  </form>
</ion-content>