<ion-header>
  <ion-toolbar>
    <ion-title>market</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="market$ | async as market; else welcome">
    <ion-item *ngFor="let product of market.products">
      {{product.name}}
    </ion-item>
  </ion-list>
  <ng-template #welcome>
    <div empty-screen>
      <div text-center>
        <ion-icon name="cart"></ion-icon>
        <h2 class="slide-title">
          Welcome to <b>My Shop Tracking</b>
        </h2>
        <p>
          Here we go!
        </p>
      </div>
    </div>
  </ng-template>
</ion-content>