<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Shopping</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openSelectSupermarket()">
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="isEmpty$ | async; else market" empty-screen>
    <div text-center>
      <ion-icon name="cart"></ion-icon>
      <h2 class="slide-title">
        Welcome to <b>How much</b>
      </h2>
      <p>
        Here we go!
      </p>
    </div>
  </div>
  <ng-template #market>

  </ng-template>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed" (click)="scanProduct()">
    <ion-fab-button>
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="clipboard"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer mode="ios">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      {{ marketTotal$ | async | number }}
    </ion-title>
  </ion-toolbar>
</ion-footer>