<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">Cancel</button>
    </ion-buttons>

    <ion-title>
      Select supermarket
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
  <ion-list radio-group *ngFor="let brand of supermarketBrands | async">
    <ion-list-header>
      {{ verificarLista(brand.$key) }}
    </ion-list-header>
    <ion-item *ngFor="let supermarket of supermarketLists[brand.$key] | async">
      <ion-label>{{supermarket.name}}</ion-label>
      <ion-radio [checked]="supermarket.$key === supermarketSelect.$key" (ionSelect)="marketSelect(supermarket)"></ion-radio>
    </ion-item>
  </ion-list>
</ion-content>