<ion-item-sliding>
  <ion-item>
    <div item-left>
      <button ion-fab color="danger" mini (click)="minus()">
        <ion-icon name="remove"></ion-icon>
      </button>
    </div>
    <div item-left>
      {{ item.count | number: '2.0' }}
    </div>
    <div item-left>
      <button ion-fab color="secondary" mini (click)="more()">
        <ion-icon name="add"></ion-icon>
      </button>
    </div>
    <h2>{{ item.product.title }}</h2>
    <h4>{{ item.product.price | currency:'USD':true:'1.0-2' }} c/unidad</h4>
    <div class="item-note" item-right>
      {{ item.price | currency:'USD':true:'1.0-2' }}
    </div>
  </ion-item>
  <ion-item-options side="right">
    <button ion-button color="danger" (click)="delete()">
        Eliminar
    </button>
  </ion-item-options>
</ion-item-sliding>