product-item ion-icon[name='remove-circle'], ion-icon[name='add-circle']{
    font-size: 4rem;
}

product-item ion-item{
    padding-left: 0px !important;
}

product-item div[item-left]{
    margin: 0px !important;
}